<section class="visual-journey" aria-label="Visual journey" #sectionRef>
  <div class="visual-journey__inner">
    <div class="visual-journey__canvas visual-journey__canvas--desktop" data-node-id="165:6625">
      <p class="visual-journey__label">{{ visualJourney.label | localize }}</p>

      @for (group of imageGroups; track $index) {
        <div class="visual-journey__group" [class.visual-journey__group--no-band]="!group[3]">
          @if (group[0]) {
            <figure class="visual-journey__image visual-journey__image--desktop-big">
              <img [src]="group[0]" alt="" />
            </figure>
          }
          @if (group[1]) {
            <figure class="visual-journey__image visual-journey__image--desktop-small-top">
              <img [src]="group[1]" alt="" />
            </figure>
          }
          @if (group[2]) {
            <figure class="visual-journey__image visual-journey__image--desktop-small-bottom">
              <img [src]="group[2]" alt="" />
            </figure>
          }
          @if (group[3]) {
            <figure class="visual-journey__image visual-journey__image--desktop-band">
              <img [src]="group[3]" alt="" />
            </figure>
          }
        </div>
      }
    </div>

    <div class="visual-journey__canvas visual-journey__canvas--tablet" data-node-id="165:6632">
      <p class="visual-journey__label">{{ visualJourney.label | localize }}</p>

      @for (group of imageGroups; track $index) {
        <div class="visual-journey__group" [class.visual-journey__group--no-band]="!group[3]">
          @if (group[0]) {
            <figure class="visual-journey__image visual-journey__image--tablet-big">
              <img [src]="group[0]" alt="" />
            </figure>
          }
          @if (group[1]) {
            <figure class="visual-journey__image visual-journey__image--tablet-small-top">
              <img [src]="group[1]" alt="" />
            </figure>
          }
          @if (group[2]) {
            <figure class="visual-journey__image visual-journey__image--tablet-small-bottom">
              <img [src]="group[2]" alt="" />
            </figure>
          }
          @if (group[3]) {
            <figure class="visual-journey__image visual-journey__image--tablet-band">
              <img [src]="group[3]" alt="" />
            </figure>
          }
        </div>
      }
    </div>

    <div class="visual-journey__canvas visual-journey__canvas--mobile" data-node-id="165:6629">
      <p class="visual-journey__label">{{ visualJourney.label | localize }}</p>

      @for (group of imageGroups; track $index) {
        <div class="visual-journey__group" [class.visual-journey__group--no-band]="!group[3]">
          @if (group[0]) {
            <figure class="visual-journey__image visual-journey__image--mobile-big">
              <img [src]="group[0]" alt="" />
            </figure>
          }
          @if (group[1]) {
            <figure class="visual-journey__image visual-journey__image--mobile-pair-a">
              <img [src]="group[1]" alt="" />
            </figure>
          }
          @if (group[2]) {
            <figure class="visual-journey__image visual-journey__image--mobile-pair-b">
              <img [src]="group[2]" alt="" />
            </figure>
          }
          @if (group[3]) {
            <figure class="visual-journey__image visual-journey__image--mobile-band">
              <img [src]="group[3]" alt="" />
            </figure>
          }
        </div>
      }
    </div>
  </div>
</section>
